/* You can add global styles to this file, and also import other style files */
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}

button+button {
    margin-left: 10px;
}

h2 {
    text-align: center;
}